*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html{
    background-color: var(--a37-var-color-beige-0);
}

h2, h3, h4, h5, h6, p, button{
    color: var(--a37-var-color-beige-300);
    font-family: "Space Mono";
    font-size: 0.8125rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-transform: uppercase;
}

::selection{
    background-color: var(--a37-var-color-green);
    color: var(--a37-var-color-beige-400);
}

/* roots */
:root{
    --a37-var-color-red: #B20000;
    --a37-var-color-beige-0: #FCFBF9;
    --a37-var-color-beige-100: #F9F6EF;
    --a37-var-color-beige-200: #EBE8E1;
    --a37-var-color-beige-300: #C3BCAC;
    --a37-var-color-beige-400: #968A6E;
    --a37-var-color-dark: #242424;
    --a37-var-color-green: #D9EB0F;
}



/* hero */
.section_logo{
    width: 96%;
    height: 80vh;

    margin: auto;

    display: flex;
    justify-content: center;
    align-content: center;

    background: url(./src/assets/plano.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    
    border: 2px solid var(--a37-var-color-red);
    border-top: 0;
}

.logo{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.logo_h1{
    color: var(--a37-var-color-red);
    font-family: "Space Mono";
    font-size: 2rem;
    font-style: normal;
    font-weight: 300;
    line-height: normal;
    text-transform: uppercase;
}

.logo_h3{
    color: var(--a37-var-color-red);
    font-family: "Space Mono";
    font-size: 0.63419rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-transform: uppercase;
}

/* end hero */


/* portfolio */
.portfolio{
    display: flex;
    justify-content: center;
    align-content: center;

    width: 96%;
    margin: auto;
    border: 2px solid var(--a37-var-color-red);
    border-top: 0;
    border-bottom: 0;

    padding: 0 0 8rem 2rem;
}

.port_wrap{
    width: 100%;

    padding: 2rem;
}

.project_img{
    min-width: 300px;
    object-fit: cover;

    width: 90%;
}

.project_h3{
    width: 80%;

    color: var(--968A6E, #968A6E);
    font-family: "Space Mono";
    font-size: 0.8125rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-transform: uppercase;
}

.port_project{
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 2rem;

    flex-direction: column
}

.span_h3{
    background-color: var(--a37-var-color-green);
}

/* End portfolio */

/* About */

.explore{
    color: var(--a37-var-color-red);
    padding-top: 2rem;
}

.about{
    display: flex;
    justify-content: center;
    align-items: center;

    border-top: 2px solid var(--a37-var-color-red);
    border-bottom: 2px solid var(--a37-var-color-red);
    padding: 2rem;
    gap: 2rem;
}

.about_title{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 1rem;

    padding-bottom: 2rem;
}

.about_text{
    padding: 4rem 0;
}

.about_title img{
    width: 1.7rem;
}

.esaku{
    width: 65%;
    height: 85vh;
    display: flex;
    justify-content: center;
    align-items: center;

    background-color: var(--a37-var-color-beige-100);
}

.esaku img{
    width: 60%;
}

.about_text{
    width: 35%;
}
/* end portfolio */


/* services */
.services{
    width: 96%;
    padding: 2rem;
    margin: auto;

    border: 2px solid var(--a37-var-color-red);
    border-top: 0;
    border-bottom: 0;
}

.main-text{
    width: 70%;
    padding-bottom: 10rem;
}

.services-ex{
    width: 100%;
    display: flex;
    justify-content: flex-end;
}

.services-texts{
    width: 70%;

    display: flex;
    gap: 3rem;

    padding-bottom: 10rem;
}

.btn_cta{
    width: 100%;

    display: flex;
    justify-content: center;
    align-items: flex-start;

    background-color: transparent;
    border: none;

    color: var(--a37-var-color-green);
    text-decoration: underline;

}

.btn_cta svg{
    margin-top: .5rem;
    padding-right: 1rem;
}







.services-ctas-container{
    display: flex;
    justify-content: flex-end;
}

.services-ctas{
    width: 70%;
    display: flex;
    justify-content: space-between;
    gap: 2rem;
}

.serv_cta{
    width: 100%;
    height: 250px;

    display: flex;
    align-items: flex-start;
    justify-content: space-between;

    padding: 1rem;

    border: 2px solid var(--a37-var-color-red);
}

.serv_cta p{
    writing-mode: vertical-rl;
    /* width: 100%; */
}

.serv_cta img{
    object-fit: contain;
    width: 7%;
}

.btn_cta.vertical{
    writing-mode: vertical-rl;
    padding-right: 2rem;
}
/* end services */




/* Get in touch section */
.contact{
    display: flex;
    justify-content:center ;
    align-items: center;
    gap: 3rem;

    background-image: url(./src/assets/get-in-touch-img.jpg);
    background-size: cover;
    background-repeat: no-repeat;

    height: 100vh;

    border-top: 2px solid var(--a37-var-color-red);
}

.cont-h3{
    color: var(--a37-var-color-beige-0);
    font-family: "Space Mono";
    font-size: 1.8155rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}