*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}


::selection{
	background: var(--a37-color-green);
	color: var(--a37-color-light-beige);
}
a{
	color: var(--a37-color-red);
}

html{
    background-color: var(--a37-color-white);
}



/* Roots */
:root{
    --a37-color-green: #D9EB0F;
    --a37-color-black: #242424;
    --a37-color-red: #CA0000;
    --a37-color-dark-beige: #C3BCAC;
    --a37-color-medium-beige: #EBE8E1;
    --a37-color-light-beige: #F9F6EF;
    --a37-color-white: #FCFBF9;


    --a37-font-regular: "Space Mono", monospace;
}


p,h1,h2,h3,h4, li, button{
    font-family: var(--a37-font-regular);
    color: var(--a37-color-dark-beige);
    font-weight: 400;
    text-transform: uppercase;
    font-size: 16px;
}

li{
    list-style: none;
    color: var(--a37-color-dark-beige);
}







/* Main hero */

    /* nav */
    .main_hero{
        /* background-color: aliceblue; */
        width: 100%;
    }

    .main_vertical{
        /* background-color: antiquewhite; */
        
    }

    .main_horizontal{
        /* background-color: aquamarine; */
        margin: 0 2rem;

        border-right: 2px solid var(--a37-color-red);
        border-left: 2px solid var(--a37-color-red);

        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }

    .main_nav{
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
        padding-bottom:2rem;
        padding-left: 5px;
        padding-right: 5px;
    }

    .li_social{
        color: var(--a37-color-dark-beige);
    }

    .nav_ul li a{
        color: var(--a37-color-dark-beige);
    }

    .nav_ul .nav_li_cta a{
        color: var(--a37-color-red);
    }








    /* main hero content */


    .main_hero_texts{
        display: flex;
        padding-left: 5px;

    }

    .main_hero_texts_33{
        width: 33%;
        display: flex;
        align-items: flex-end;
    }


    .main_hero_texts_66{
        width: 66%;

        display: flex;
        justify-content: space-between;
        align-content: flex-start;
        align-items: flex-start;
    }

    .main_hero_logo{
        width: 60%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .logo_h1{
        font-size: 40px;
        color: var(--a37-color-red);
    }

    .logo_h3{
        font-size: 20px;
        color: var(--a37-color-red);
    }

    .button{
        background-color: transparent;
        border: 0;
        padding-right: 3rem;
    }

    .button a{
        text-decoration: underline;
        color: var(--a37-color-green);
        text-decoration: underline;

    }

    .main_hero_66_text{
        width: 153px;
        writing-mode: sideways-rl;
        height: 450px;        
    }









    /* main hero imgs */
    .main_hero_imgs{
        width: 100%;
        display: flex;
        border-top: 2px solid var(--a37-color-red);
        border-bottom: 2px solid var(--a37-color-red);

        gap: 2rem;
    }

    .linea{
        width: 2px;
        height: auto;
        background-color: var(--a37-color-red);
    }

    .hero_img_66{
        width: 66%;
    }

    .hero_img_33{
        width: 33%;
    }
    
    .hero_img_66 img{
        width: 100%;
    }

    .hero_img_33 img{
        width: 97%;
    }








    /* esaku */
    .main_esaku{
        display: flex;
        gap: 2rem;

        border-bottom: 2px solid var(--a37-color-red);
    }

    .esaku_66{
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .esaku{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .esaku h2{
        color: var(--a37-color-green);
        font-size: 50px;
        text-align: center;
        letter-spacing: 105%;
    }

    .esaku img{
        padding: 0;
        width: 80%;
    }

    .esaku_66{
        width: 66%;
        background-color: var(--a37-color-medium-beige);
    }

    .esaku_33{
        width: 33%;
        padding: 6rem 0;
        padding-right: 2rem;
    }

    .about_title{
        display: flex;
        gap: 1rem;
    }

    .about_title img{
        width: 4%;
    }

    .about_p_text{
        padding: 3rem 0;
    }

    .about_p_text_red{
        color: var(--a37-color-red);
    }







/* services */
.services{
    display: flex;
    flex-direction: column;
    padding: 6rem;
}

.services_p{
    width: 60%;
    padding-bottom: 12rem;
}

.services_studio{
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.services_studio_texts{
    width: 60%;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    gap: 2rem;
    flex-wrap: wrap;

    margin-bottom: 6rem;
}

.services_studio_p{
    width: 40%;
}

.work{
    width: 60%;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    gap: 2rem;
}

.work_content{
    min-width: 300px;
    width: 600px;
    height: 300px;


    display: flex;
    justify-content: space-between;
    border: 2px solid var(--a37-color-red);
    padding: 1rem;
    gap: 2rem;
}

.work_content img{
    width: 30px;
    height: 30px;
    object-fit: contain;
}

.work_content_p{
    /* writing-mode: vertical-lr; */
    writing-mode: sideways-rl;
}






/* plano */
.plano{
    padding: 0 2rem;

    display: flex;
    justify-content: center;
    align-items: center;

    border-top: 2px solid var(--a37-color-red);
    border-bottom: 2px solid var(--a37-color-red);
}

.plano_carousel{
    width: 100%;
    background-image: url(/assets/Group\ 17.jpg);
    mix-blend-mode: multiply;

    border-right: 2px solid var(--a37-color-red);
    border-left: 2px solid var(--a37-color-red);

    padding: 20rem ;
}

.plano_bg{


    display: flex;
    justify-content: center;
    align-items: center;
}

.plano_bg img{
    width: 100%;
}










/* projects */

.projects{
    background-color: var(--a37-color-medium-beige);
    padding: 6rem 2rem;
}

.ind-project{
    padding: 6rem 0;
}

.project-texts{
    display: flex;
    justify-content: space-between;
    align-items: flex-start;

    padding-bottom: 2rem;

}

.p-text{
    width: 40%;
}

.p-text_number{
    color: var(--a37-color-red);
    font-size: 8px;
    padding: 10px;
}

.p-text_span{
    background-color: var(--a37-color-green);
}

.button_project{
        background-color: transparent;
    border: 0;
    text-decoration: underline;
}

.button_project a{
    color: var(--a37-color-dark-beige);

}

.p_carousel{
    display: flex;
    gap: 20px;
}

.p_carousel img{
    width: 60%;
}








/* contact */
.contact_info{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 20rem;
}
.contact_info_li{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}












/* footer */
.footer{
    background-color: var(--a37-color-red);
}

.footer_main_hero_logo{
    height: 70vh;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    color: var(--a37-color-light-beige);
}

.footer_logo_h1{
    color: var(--a37-color-light-beige);
    font-size: 40px;
    font-weight: 400;
}

.footer_logo_h3{
    font-size: 20px;
    color: var(--a37-color-light-beige);
}

.footer_nav{
    display: flex;
    justify-content: space-between;
    align-items: flex-start;

    padding-bottom: 2rem;
    padding-left: 2rem;
    padding-right: 2rem
}

.footer_nav li{
    color: var(--a37-color-light-beige);
}








/* Paginas projects */
.main_vertical_project{
    margin: 2rem 0;
    border-top: 2px solid var(--a37-color-red);
    border-bottom: 2px solid var(--a37-color-red);
}




.p_info_texts{
    display: flex;
    padding-left: 5px;
    align-items: flex-end;
    justify-content: space-between;
}

.p_info_texts_p{
    width: 60%;
}

.p_info_texts_cta{
    height: 20%;
    writing-mode: sideways-rl;
}

#carousel_overflow_container {
    overflow: hidden;
}

.carousel{
    display: flex;
    flex-direction: row;
    height: 100;
    width: 300svw;
    gap: 1rem;
}

.carousel_img{
    width: 100%;
    padding-top: 1rem;
}

.carousel_img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}






/* About */
.about_container{
    border-top: 2px solid var(--a37-color-red);
    /* border-bottom: 2px solid var(--a37-color-red); */

    display: flex;
    justify-content: center;
    align-items: center;
}

.about_content{
    width: 40%;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
    padding: 5rem 2rem;

    border-right: 2px solid var(--a37-color-red);
    border-left: 2px solid var(--a37-color-red);
}

.about_img{
    width: 100%;
    padding: 1rem 0;
}






/* media queries home */
@media (max-width: 1250px) {
    .none {
        display: none;
    }


    .main_esaku{
        flex-direction: column;
    }

    .esaku img{
        width: 60%;
    }

    .esaku_66{
        width: 100%;
        padding: 4rem;
        border-bottom: 2px solid var(--a37-color-red);
        background-color: var(--a37-color-medium-beige)
    }



    .esaku_33{
        width: 100%;
        padding: 1rem;
    }

    .services_studio_texts{
        width: 80%;
    }

    .work{
        width: 81%;
    }

    .plano_carousel{
        padding: 8rem;
    }

    .p-text{
        width: 60%;
    }

    .footer_nav{
        padding: 1rem;
    }
}



@media (max-width:400px){
    .main_horizontal{
        margin: 0 1rem;
    }

    .main_nav{
        padding-right: 0;
        padding-bottom: 10rem;
    }

    .main_hero_texts{
        flex-direction: column;
        gap: 4rem;
    }

    .main_hero_texts_33{
        width: 100%;
    }
    
    .main_hero_texts_66{
        width: 100%;
        flex-direction: column;

        gap: 4rem;
    }

    .main_hero_logo{
        width: 100%;
    }

    .main_hero_66_text{
        width: 100%;
    }

    .main_hero_imgs{
        flex-direction: column;
    }

    .linea{
        display: none;
    }

    .hero_img_66{
        width: 100%;
        border-bottom: 2px solid var(--a37-color-red);
        padding: 2rem;
    }

    .hero_img_33{
        width: 100%;
    }
    .hero_img_33 img{
        width: 100%;
        padding-bottom: 2rem;
    }

    .esaku_66{
        padding: 2rem;
    }

    .esaku img{
        width: 100%;
    }

    .services{
        padding: 2rem;
    }

    .services_p{
        width: 100%;
    }

    .services_studio_texts{
        width: 100%;

        flex-direction: column;
    }

    .services_studio_p{
        width: 100%;
    }

    .work{
        width: 100%;

        flex-direction: column;
    }

    .work_content{
        flex-direction: column;

        width: 310px;
        height: 500px;
    }

    .plano_carousel{
        padding: 6rem 2rem;
    }

    .plano{
        padding: 0 1rem;
    }

    .projects{
        padding: 3rem 1rem;
    }

    .project-texts{
        flex-direction: column;
    }

    .p-text{
        width: 100%;
        padding-bottom: 2rem;
    }

    .footer_nav{
        flex-direction: column;
        justify-content: center;
        align-items: center;

        gap: 2rem;

        padding-bottom: 3rem;
    }

    .footer_nav .nav_ul{

        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
}


    /* media queries projects */


    @media (max-width: 1250px){
        .p_info{
            width: 100%;
        }

        .p_info_texts{
            flex-direction: column;
            justify-content: flex-start;
            align-items: flex-start;
        }
    
        .p_info_texts_p{
            width: 100%;
        }
    
    }

    @media (max-width:400px){
        .p_info{
            width: 100%;
        }
    
        .p_info_texts{
            flex-direction: column;
            justify-content: flex-start;
            align-items: flex-start;
        }

        .p_info_texts_p{
            width: 100%;
        }

        .p_info_texts_cta{
            height: 70%;
            writing-mode: horizontal-tb;
            margin:6rem 0;
        }


        
    }






    /* contact  media query*/
    @media (max-width:400px){
        .contact_info{
            padding-bottom: 10rem;
        }
    }




    /* about media query */
    @media (max-width:400px){
        .about_content{
            width: 100%;
            border-right: 0;
            border-left: 0;
            padding: 1rem;
        }
        .about_img{
            padding: 3rem 0;
        }
        
    }