<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Space+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap" rel="stylesheet">
    <title>Contact</title>
</head>
<body>
    
    <section class="main_hero">
        <div class="main_vertical_project">
            <div class="main_horizontal">

                <div class="contact_info">
                    <ul class="contact_info_li">
                        <li>AVAILABLE FOR NEW PROJECTS</li>
                        <li>ATELIER37@GMAIL.COM</li>
                        <li>+44 088847463929</li>
                    </ul>
                </div>
            </div>
        </div>
    </section>

</body>
</html>