*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.about_main{
    width: 96%;
    /* height: 100vh; */
    margin: auto;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    border-right: 2px solid var(--a37-var-color-red);
    border-left: 2px solid var(--a37-var-color-red);
    
}

.about_container{
    margin: 5rem 0;

    display: flex;
    justify-content: center;
    align-items: center;

    border-top: 2px solid var(--a37-var-color-red);
    border-bottom: 2px solid var(--a37-var-color-red);
}

.about_info{
    width: 50%;

    border-right: 2px solid var(--a37-var-color-red);
    border-left: 2px solid var(--a37-var-color-red);

    padding: 2rem;

    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.about_img{
    width: 100%;
}