<!DOCTYPE html>
<html lang="en">
<head>
    <script type="module" src="about.js" defer></script>
    <!-- <script type="module" src="about.js" defer></script> -->
    <!-- <script type="module" src="../../../../index.js" defer></script> -->
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- <link rel="stylesheet" type="textcss" href="../../../../style.css"> -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Space+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap" rel="stylesheet">
    <title>About</title>
</head>
<body>
    
    <section class="main_hero">
        <div class="main_vertical_project">
            <div class="main_horizontal">

                <div class="about_container">
                    <div class="about_content">
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ipsum natus repellendus sequi impedit aliquid quo enim ducimus fugit<span class="p-text_span">odio quia maiores dolores</span> magnam sunt nemo totam, iure voluptatibus perspiciatis quas. Lorem ipsum dolor sit amet consectetur adipisicing elit. Adipisci blanditiis, ipsam similique provident,<span class="p-text_span">veniam hic accusantium</span> tempore ipsum distinctio quibusdam minima, iusto repellat culpa! Vel vitae voluptatibus eos dolorum consequatur!</p>

                        <img class="about_img" src="../../../assets/pexels-cottonbro-6567819 1.jpg" alt="">

                        <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Totam, quibusdam obcaecati! Beatae, voluptatum. <span class="p-text_span">Dolorem consectetur</span>, nostrum, praesentium eligendi aperiam ea, autem perferendis ex soluta temporibus minus dicta laudantium in minima.</p>
                    </div>
                </div>

            

            </div>
        </div>
    </section>

</body>
</html>