<!DOCTYPE html>
<html lang="en">
<head>
    <script type="module" src="about.js" defer></script>
    <!-- <script type="module" src="about.js" defer></script> -->
    <!-- <script type="module" src="../../../../index.js" defer></script> -->
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- <link rel="stylesheet" type="textcss" href="../../../../style.css"> -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Space+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap" rel="stylesheet">
    <title>About</title>
</head>
<body>

    <section class="about_main">

        <div class="about_container">
            <div class="about_info">
                <p class="info_p">Est eu vestibulum sed nisi mi sit quis. Nisl pulvinar semper iaculis at urna cras cursus faucibus. Amet est urna imperdiet nibh imperdiet morbi. Mauris id arcu imperdiet euismod magna egestas. Gravida arcu arcu felis semper lorem gravida pharetra. Dictumst risus eget fermentum nibh sapien. Sit tincidunt commodo odio vulputate urna dolor.</p>

                <img class="about_img" src="/src/assets/pexels-cottonbro-6567819 1.jpg" alt="about_img">

                <p class="info_p">Lorem ipsum dolor sit amet consectetur. Bibendum amet lorem dolor etiam venenatis sit faucibus. Scelerisque cursus tempus vitae varius pharetra volutpat sed sem sed. Vestibulum eu euismod odio cras at. Id ornare tincidunt ornare cursus vitae odio. Felis sollicitudin mauris massa facilisis malesuada est.</p>
            </div>
        </div>

    </section>
    
</body>
</html>