/* About */
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}


::selection{
	background: var(--a37-color-green);
	color: var(--a37-color-light-beige);
}

a{
	color: var(--a37-color-red);
}

html{
    background-color: var(--a37-color-white);
}



/* Roots */
:root{
    --a37-color-green: #D9EB0F;
    --a37-color-black: #242424;
    --a37-color-red: #CA0000;
    --a37-color-dark-beige: #C3BCAC;
    --a37-color-medium-beige: #EBE8E1;
    --a37-color-light-beige: #F9F6EF;
    --a37-color-white: #FCFBF9;


    --a37-font-regular: "Space Mono", monospace;
}


p,h1,h2,h3,h4, li, button{
    font-family: var(--a37-font-regular);
    color: var(--a37-color-dark-beige);
    font-weight: 400;
    text-transform: uppercase;
    font-size: 16px;
}

li{
    list-style: none;
    color: var(--a37-color-dark-beige);
}

.p-text_span{
    background-color: var(--a37-color-green);
}

.about_container{
    border-top: 2px solid var(--a37-color-red);
    /* border-bottom: 2px solid var(--a37-color-red); */

    display: flex;
    justify-content: center;
    align-items: center;
}

.about_content{
    width: 40%;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
    padding: 5rem 2rem;

    border-right: 2px solid var(--a37-color-red);
    border-left: 2px solid var(--a37-color-red);
}

.about_img{
    width: 100%;
    padding: 1rem 0;
}
