<!DOCTYPE html>
<html lang="en">
<head>
    <script type="module" src="about.js" defer></script>
    <!-- <script type="module" src="about.js" defer></script> -->
    <!-- <script type="module" src="../../../../index.js" defer></script> -->
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- <link rel="stylesheet" type="textcss" href="../../../../style.css"> -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Space+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap" rel="stylesheet">
    <title>About</title>
</head>
<body>
    
    <section class="main_hero">

        <div class="main_vertical_project">

            <div class="main_horizontal">

                <div class="about_container">

                    <div class="about_content">
                        <p>At <span class="p-text_span">ATELIER 37</span>, we draw inspiration from the rich traditions of <span class="p-text_span">Japanese architecture</span>, blending them seamlessly with modern aesthetics to craft environments that are both functional and serene. Our designs are characterized by clean lines, open spaces, and an intrinsic connection to nature, reflecting the essence of concepts like wabi-sabi (侘寂), which finds beauty in imperfection and transience, and shizen (自然), emphasizing the natural world.</p>

                        <img class="about_img" src="../../../assets/pexels-cottonbro-6567819 1.jpg" alt="">

                        <p>We believe that true beauty lies in simplicity. Our approach to design is <span class="p-text_span">minimalist yet sophisticated,</span> focusing on the essential elements that bring a space to life. We incorporate natural materials such as wood, stone, and paper, along with neutral color palettes, to create a timeless aesthetic.</p>
                    </div>

                </div>

            </div>

        </div>

    </section>

</body>
</html>