
.main_nav{
    margin: 0 2rem;
    margin-bottom: 0;
    border-right: 2px solid var(--a37-color-red);
    border-left: 2px solid var(--a37-color-red);
    padding: 0;
    padding-bottom: 4.5rem;
}

.main_nav_container{
    width: 100%;
    margin: 2rem 0;
    border-top: 2px solid var(--a37-color-red);
    padding: .5rem;

    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

@media (max-width:400px){
    .main_nav{
        margin: 0 1rem;
    }
}