<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../../../../style.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Space+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap" rel="stylesheet">
    <title>Project 01</title>
</head>
<body>
    
    <section class="main_hero">
        <div class="main_vertical_project">
            <div class="main_horizontal">


                <div class="p_info">
                    <div class="p_info_texts">

                        <p class="p_info_texts_p">Lorem ipsum dolor sit amet consectetur. Bibendum amet lorem dolor etiam venenatis sit faucibus. Scelerisque cursus tempus vitae varius pharetra volutpat sed sem sed. Vestibulum eu euismod odio cras at. Id ornare tincidunt ornare cursus vitae odio. Felis sollicitudin mauris massa facilisis malesuada est.
                        Est eu vestibulum sed nisi mi sit quis. Nisl pulvinar semper iaculis at urna cras cursus faucibus. Amet est urna imperdiet nibh imperdiet morbi. Mauris id arcu imperdiet euismod magna egestas. Gravida arcu arcu felis semper lorem gravida pharetra. Dictumst risus eget fermentum nibh sapien. Sit tincidunt commodo odio vulputate urna dolor.
                        Morbi massa et condimentum gravida amet consectetur.</p>

 
                        <div class="p_info_texts_cta">
                            <p class="p_info_texts_p_vert">At our architecture studio, we believe in the elegance of simplicity and  authenticity. Inspired by the wabi-sabi philosophy and the serene  landscapes of New Zealand, we create spaces that reflect harmony,  naturalness, and the beauty of the imperfect.</p>
                            <button class="button">Discover Our Projects</button>
                        </div>

                    </div>
                </div>

            <div id="carousel_overflow_container">       
                <div class="carousel">
                    <div class="carousel_img">
                        <img src="./assets/projects/01/allysherlow-anPRM2-kZxY-unsplash 2.jpg" alt="">
                    </div>
                    <div class="carousel_img">
                        <img src="./assets/projects/01/allysherlow-Wn2FlrxJqa4-unsplash 1.jpg" alt="">
                    </div>
                    <div class="carousel_img">
                        <img src="./assets/projects/01/pexels-alfinauzikri-2968141.jpg" alt="">
                    </div>
                    <div class="carousel_img">
                        <img src="./assets/projects/01/pexels-joshsorenson-103595 3.jpg" alt="">
                    </div>
                    <div class="carousel_img">
                        <img src="./assets/projects/01/pexels-weijia-ma-322731568-19989385 1.jpg" alt="">
                    </div>
                    <div class="carousel_img">
                        <img src="./assets/projects/01/zhao-yangyang-WpQIcQrZ5TI-unsplash 1.jpg" alt="">
                    </div>
                </div>
            </div>

            </div>
        </div>
    </section>

</body>
</html>